*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}

#nav-items {
    transition: left 0.3s ease; /* Adjust duration and easing as needed */
  }

  .text-7xl {
    font-size: 3.5rem /* 72px */;
    line-height: 1;
}

.p{
    color: black;
    font-weight:600;
    flex-wrap:wrap;
}

#card-1{
    box-shadow: #0000003d 0 3px 8px;
}

#section-2 {
    margin-top: 100px;
  }

#jingle{
    color: linear-gradient(106.43deg,#522fd4,#6bdcff 95.12%);
}
#footer{
    background: linear-gradient(106.43deg,#522fd4,#866bff 95.12%);
}
#last{
    background: linear-gradient(106.43deg,#522fd4,#866bff 95.12%);
}
#section-6-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-6-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #footer{
        padding: 1rem 2rem 0rem 0rem;
    }
}